.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.Input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  text-shadow: 0 0 0 var(--primary-color);
}

input:focus {
  outline: none;
}

.readonly {
  opacity: 0.7;
}


.outline {
    border: 1px #DDE2E5 solid;
}

.outline-primary {
  border: 1px var(--inverted-bg-color) solid;
}
